@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/uploadify/jquery.uploadify.min.js"></script>
    <link href="~/uploadify/uploadify.css" rel="stylesheet" />
    <script>
        $(function () {
            $('#file_upload').uploadify({
                'swf': '/uploadify/uploadify.swf',                        //FLash文件路径
                'buttonText': '浏  览',                        //按钮文本
                'uploader': '/Text/TextImg', //处理ASHX页面
                'formData': { 'id': '5124512' },         //传参数
                'queueID': 'fileQueue',                        //队列的ID
                'queueSizeLimit': 1,                           //队列最多可上传文件数量，默认为999
                'auto': false,                                 //选择文件后是否自动上传，默认为true
                'multi': true,                                 //是否为多选，默认为true
                'removeCompleted': true,                       //是否完成后移除序列，默认为true
                'fileSizeLimit': '10MB',                       //单个文件大小，0为无限制，可接受KB,MB,GB等单位的字符串值
                'fileTypeDesc': 'Image Files',                 //文件描述
                'fileTypeExts': '*.gif; *.jpg; *.png; ',  //上传的文件后缀过滤器
                'onQueueComplete': function (event, data) {    //所有队列完成后事件
                    //ShowUpFiles(guid, type, show_div);
                    alert("上传完毕！");
                },
                'onUploadError': function (event, queueId, fileObj, errorObj) {
                    alert(errorObj.type + "：" + errorObj.info);
                }
            });

        })
    </script>
</head>
<body>
    <div>
        <input type="file" name="file_upload" id="file_upload" />
        <p>
            <input type="button" class="shortbutton" id="btnUpload" onclick="javascript:$('#file_upload').uploadify('upload','*')" value="上传" />

            <input type="button" class="shortbutton" id="btnCancelUpload" onclick="javascript:$('#file_upload').uploadify('cancel')" value="取消" />

        </p>
        <div id="div_show_files"></div>
    </div>
</body>
</html>
