@font-face {
    font-family: "iconfont";
    src: url('../fonts/dianz/iconfont.eot?t=1572605051442'); /* IE9 */
    src: url('../fonts/dianz/iconfont.eot?t=1572605051442#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/dianz/iconfont.woff?t=1572605051442') format('woff'), 
    url('../fonts/dianz/iconfont.ttf?t=1572605051442') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('../fonts/dianz/iconfont.svg?t=1572605051442#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e503";
}

.icon-dianzan_active:before {
  content: "\e501";
}

.icon-icon-zhaopian-shangchuan:before {
  content: "\ec8a";
}

