
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/FileCss/css/Buttons.css" rel="stylesheet" />
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/Thems/js/layer/mobile/layer.js"></script>
</head>
<body>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        table tr td {
  
        }
    </style>
    <div style="background-color:#ddfdba"> 
        @*<table >
            <tr>
                <td >
                    <img src="~/Upload/Attach/QQ%e5%9b%be%e7%89%8720170926221447.png" />
                </td>
                <td  >
                    <ul style="list-style-type: none;text-align:left;">
                        <li>
                            单位:平安银行
                        </li>
                        <li>
                            品种:幸福树
                        </li>
                        <li>
                            习性:喜阳,稍耐阴,阳面喜水
                        </li>
                        <li>
                            养护方法；土干浇1000毫升
                        </li>
                        <li>
                            规格:1.8-2.2M
                        </li>
                        <li>
                            售价:850元
                        </li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    运费:满300免费送,不满加50元
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    提示:当天上午11:00之前付款最晚次日专车送达,11:00后付款最晚隔日专车送达
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                   备注:
                    <br/>
                    <div style="text-align: center;">
                        <textarea style="margin: 0px auto;text-align:center; height: 50px; width: 80%; border: solid #77c302; background-color: #ddfdba"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align:center;">
                        <input type="file" id="filePicture" name="filePicture" accept=".jpg,.jpeg,.png,.bmp" />
                    </div>
                  
                </td>
            </tr>
            <tr>
<tr>
                <td colspan="2">
                    <br />
                    <div style="text-align:center;">
                        <a href="javascript:void(0);" onclick="filePictureChange()" class="button button-primary button-small">点击更换</a>
                        <a href="javascript:void(0);" class="button button-primary button-small">立即购买</a>
                    </div>
                </td> 
            </tr>
        </table>*@
        <img id="preview" src="" width="150" height="180" style="display: block; width: 150px; height: 180px;">
        <input type="file" name="file" id="doc" style="width:150px;" onchange="javascript:setImagePreview();">
        <input type="file" id="filePicture" name="filePicture" accept=".jpg,.jpeg,.png,.bmp" />
        <a href="javascript:void(0);" onclick="filePictureChange()" class="button button-primary button-small">点击更换</a>
        <canvas id="cans"></canvas>
        <br><br>
        <button>上传</button><br><br><br><br><br><br>
        <div></div>

        <script src="//cdn.bootcss.com/jquery/3.0.0-beta1/jquery.js"></script>
        <script type="text/javascript">
            //下面用于图片上传预览功能
            function setImagePreview(avalue) {
                var docObj = document.getElementById("doc");

                var imgObjPreview = document.getElementById("preview");
                if (docObj.files && docObj.files[0]) {
                    //火狐下，直接设img属性
                    imgObjPreview.style.display = 'block';
                    imgObjPreview.style.width = '150px';
                    imgObjPreview.style.height = '180px';
                    //imgObjPreview.src = docObj.files[0].getAsDataURL();

                    //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                    imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
                }
                else {
                    //IE下，使用滤镜
                    docObj.select();
                    var imgSrc = document.selection.createRange().text;
                    var localImagId = document.getElementById("localImag");
                    //必须设置初始大小
                    localImagId.style.width = "150px";
                    localImagId.style.height = "180px";
                    //图片异常的捕捉，防止用户修改后缀来伪造图片
                    try {
                        localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                        localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                    }
                    catch (e) {
                        alert("您上传的图片格式不正确，请重新选择!");
                        return false;
                    }
                    imgObjPreview.style.display = 'none';
                    document.selection.empty();
                }
                return true;
            }




            $(document).ready(function () {

                $('button').click(function () {
                    var img_this = new Image();
                    img_this.src = $('#preview').attr('src');


                    var width = img_this.width, height = img_this.height;
                    var scale = width / height;
                    // alert(width+"\r\n"+height+"\r\n"+scale);
                    width1 = 300;
                    height1 = parseInt(width1 / scale);
                    var canvas = $("#cans");

                    canvas[0].width = width1; canvas[0].height = height1;
                    var ctx = canvas[0].getContext('2d');
                    ctx.drawImage(img_this, 0, 0, width, height, 0, 0, width1, height1);


                    var cropStr = canvas[0].toDataURL("image/jpeg", 0.5);
                    $('div').append("<p>" + cropStr + "</p>");


                    alert("1");
                    $.ajax({
                        url: '/Flower/uploadPic',// 发送Base64格式的字符串到后端,后端可以转化成图片的,
                        data: {
                            img: cropStr
                        },
                        type: 'post',
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            if (data.msg == "true") {
                                // view("修改成功！");
                                alert("修改成功！");
                                window.location.reload();
                            } else {
                                view(data.msg);
                            }
                        },
                        error: function () {
                            // view("异常！");
                            alert("异常！");
                        }
                    });

                })
            })
        </script>  
    </div>
    <script>
        function filePictureChange() {
            var info=$("#filePicture").val();
            if (info==''||info==null) {
                layer.open({
                    content: '上传不能为空'
    , skin: 'msg'
    , time: 2 //2秒后自动关闭
                })
            }
            $.ajax({
                url: "/FlowerArrangement/Upload", //用于文件上传的服务器端请求地址
                data:{"":""},
                type: "get",
                //secureuri: false, //一般设置为false
                //fileElementId: "filePicture", //文件上传空间的id属性
                dataType: "json", //返回值类型 一般设置为json
                success: function (data, status) {  //服务器成功响应处理函数
                    layer.open({
                        content: '更换成功'
, skin: 'msg'
, time: 2 //2秒后自动关闭   
                    })
                },
                error: function (data, status, e) {  //服务器响应失败处理函数
                    //alert(e);
                }
            });
        };
    </script>
</body>
</html>
