.productbox {
    background-color:#ffffff;
	
	margin-bottom:10px;
}

.producttitle {
    font-weight:bold;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}

.productname {
    margin-bottom: 10px;
	float:left;
    padding-right:10px;
}

.productdes {
    font-weight: normal;
    color: gray;
    margin-bottom: 10px;
}

td {
    height: 35px;
}