<div class="foot-nav border_top hide" style="">
    <a href="/Shop/Index"><i class="home"></i><span>新品推荐</span></a>
    <a href="/MFlower/ConservationFlowers"><i class="cate"></i><span>养护花卉</span></a>
    <a href="/MFlower/ChangeFlowers"><i class="cart"></i><span>更换花卉</span></a>
    <a href="/MMIndex/Index"><i class="user"></i><span>我的</span></a>
</div>
<script>
    var url = window.location.href;
    if (url == "http://m.ch999.com/") { $(".foot-nav").show(); $(".foot-nav a").eq(0).addClass("cur"); }
</script>
<script>var url = location.href; var platfomrs = ["360ad", "goad", "juxad", "zhtad", "ttad", "tead", "snswxtsad", "snswxgnad", "snsxlad", "snstxad", "snsqzad", "snstbzad", "snstbwad", "snsblad", "snshzad", "snsqtad", "mgzhad", "mttad"]; for (index in platfomrs) { if (url.indexOf(platfomrs[index]) > 0) { Cookie.Set("sem", "on", 60 * 60 * 3); } }</script>
